@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Montserrat:wght@300&family=Playfair+Display:wght@400;700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,400;1,500;1,600&display=swap');

html,body{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif; 
    color: #fff;
}



.gradient{
    background: rgb(60, 28, 199);
background: linear-gradient(90deg, rgb(111, 155, 212) 18%, rgb(122, 33, 194) 97%);
    
    margin-top: 60px;
}

.grad{
    background: rgb(60, 28, 199);
    background: linear-gradient(90deg, rgb(141, 116, 199) 18%, rgb(122, 33, 194) 97%);

}

.introduction{
    background: rgb(60, 28, 199);
    background: linear-gradient(90deg, rgb(111, 155, 212) 18%, rgb(122, 33, 194) 97%);

}
.jo{
    /* padding:auto 0px; */
    font-size: 40px;
    font-weight: 500;
    
    
}
.list ul li{
    list-style: none;
    list-style-image: url(../img/check.svg);
   
}


.test{
    color:black
}
.icon{
   text-align: center;
    margin: auto;
   
    align-items: center;
    padding: 25px;
    width: 80px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.gallery img {
    background: darkgray;
    border: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}
 .gallery{
    background: rgb(60, 28, 199);
    background: linear-gradient(90deg, rgb(111, 155, 212) 18%, rgb(122, 33, 194) 97%);
    
}
.art-work{
    background: rgb(60, 28, 199);
    background: linear-gradient(90deg, rgb(111, 155, 212) 18%, rgb(122, 33, 194) 97%);
}
.form-section{
    display: flex;
    justify-content: center;
    align-items: center;
}



.jo img{
    width: 90px;
    margin:0 auto;
}